---
import PhoneCard from "../telefonos/PhoneCard.astro";

const phones = [
  {
    title: "Delegación El Talar",
    subtitle: "Lunes a Viernes 8 – 16hs",
    phone: "45129973",
  },
  {
    title: "Edenor - Reclamos",
    subtitle: "Guardia técnica",
    phone: "08006661000",
  },
  {
    title: "AySA",
    subtitle: "Atención Técnica",
    phone: "08003212482",
  },
  {
    title: "CAFyS Almirante Brown",
    subtitle: "Centro de salud comunitario en El Talarl",
    phone: "45129986",
  },
  {
    title: "CAFyS La Paloma",
    subtitle: "Centro de salud comunitario en El Talar",
    phone: "45129985",
  },
];
---

<section class="flex flex-col gap-6 w-full px-2 sm:px-12">
  <h2 id="telefonos" class="text-2xl font-bold">Directorio General</h2>

  <div class="grid gap-6 md:grid-cols-3">
    {
      phones.map((phone) => (
        <PhoneCard
          title={phone.title}
          subtitle={phone.subtitle}
          phone={phone.phone}
        />
      ))
    }

    <div
      class="flex flex-col gap-3 justify-between items-center rounded-2xl border border-dashed p-6"
    >
      <h3 class="text-lg font-bold">¿Falta algún número?</h3>
      <p class="text-sm text-gray-600">Ayudanos a mejorar el directorio.</p>

      <a
        href="/#contact"
        class="rounded-full w-fit bg-primary py-1 px-5 text-sm font-semibold text-white shadow-lg hover:scale-105 transition-transform"
      >
        Sugerir contacto
      </a>
    </div>
  </div>
</section>
