---
import { Pill, Store, PhoneCall } from "@lucide/astro";
---

<section class="mx-auto max-w-6xl px-6">
  <div class="flex flex-col gap-8 items-center">
    <h2 class="text-2xl font-bold">Accesos Rápidos</h2>

    <div class="grid gap-6 md:grid-cols-3">
      <a href="/farmacias">
        <div
          data-tilt
          class="rounded-2xl bg-white shadow-sm hover:shadow-xl h-40 flex flex-col justify-center p-5 gap-5"
        >
          <Pill size={24} class="text-primary" />
          <div class="flex flex-col gap-2">
            <h3 class="font-semibold">Farmacias de Turno</h3>
            <p class="text-xs text-primary">
              Encuentra qué farmacia está abierta ahora en El Talar.
            </p>
          </div>
        </div>
      </a>

      <a href="/negocios">
        <div
          data-tilt
          class="rounded-2xl bg-white shadow-sm hover:shadow-xl h-40 flex flex-col justify-center p-5 gap-5"
        >
          <Store size={24} class="text-primary" />
          <div class="flex flex-col gap-2">
            <h3 class="font-semibold">Guía de comercios</h3>
            <p class="text-xs text-primary">
              Explora locales y servicios del barrio
            </p>
          </div>
        </div>
      </a>

      <a href="/telefonos">
        <div
          data-tilt
          class="rounded-2xl bg-white shadow-sm hover:shadow-xl h-40 flex flex-col justify-center p-5 gap-5"
        >
          <PhoneCall size={24} class="text-primary" />
          <div class="flex flex-col gap-2">
            <h3 class="font-semibold">Teléfonos Útiles</h3>
            <p class="text-xs text-primary">
              Bomberos, Policía, Hospitales y más.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
