---
import { Cross } from "@lucide/astro";

const { barrio } = Astro.locals;
---

<section
  class="relative overflow-hidden flex justify-center items-center py-20 rounded-3xl"
>
  <div
    class="absolute inset-0 bg-linear-to-tr from-green-100 via-white to-white"
  >
  </div>

  <div class="relative mx-auto max-w-4xl px-6 text-center flex flex-col gap-6">
    <span
      class="animate-fade-up mx-auto inline-flex items-center gap-2 rounded-full bg-green-100 px-4 py-1 text-xs font-semibold text-green-700"
    >
      <Cross size={14} />
      Servicios esenciales
    </span>

    <h1
      class="animate-fade-up text-4xl md:text-5xl font-extrabold tracking-tight text-gray-900"
      style="animation-delay: 0.12s"
    >
      Farmacias de{" "}
      <span class="text-green-600">Turno</span>
    </h1>

    <p
      class="animate-fade-up mx-auto max-w-2xl text-lg text-gray-600"
      style="animation-delay: 0.24s"
    >
      Consultá qué farmacia está abierta <span class="font-medium"
        >hoy en {barrio.name}</span
      >
      para urgencias, guardias nocturnas y atención fuera de horario.
    </p>

    <div
      class="animate-fade-up flex justify-center gap-4"
      style="animation-delay: 0.36s"
    >
      <a
        href="#farmacias-de-turno"
        class="rounded-full bg-green-600 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:scale-105 transition-transform"
      >
        Ver farmacias abiertas
      </a>

      <a
        href="#farmacias-proximos-turnos"
        class="rounded-full border border-gray-300 px-6 py-3 text-sm font-semibold text-gray-700 hover:bg-gray-100 transition"
      >
        Próximos turnos
      </a>
    </div>
  </div>
</section>
