---
const { address } = Astro.props;
const mapUrl = `https://www.google.com/maps?q=${encodeURIComponent(address)}&output=embed`;
---

<section class="relative overflow-hidden rounded-2xl">
  <iframe
    src={mapUrl}
    class="h-40 w-full border-0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
