---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/telefonos/Hero.astro";
import Emergencies from "../../components/telefonos/Emergencies.astro";
import Directory from "../../components/telefonos/Directory.astro";
---

<Layout title="Teléfonos Útiles en El Talar">
  <section class="sm:px-12 sm:py-12 px-3 py-3">
    <Hero />
    <Emergencies />
    <Directory />
  </section>
</Layout>
