---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import { ClientRouter } from "astro:transitions";
const { title = "El Talar - Inicio" } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>

  <body class="bg-gray-100">
    <Header />
    <main class="flex flex-col gap-20 sm:mx-20 sm:my-10 mx-4 my-5">
      <slot />
    </main>
    <Footer />
  </body>
</html>
